:root {
    --background-color: #010813;
    --primary-color: #0B192C;
    --secondary-color: #11253b;
    --accent-color: #FF6500;
    --font-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
}

html {
    scroll-behavior: smooth;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
}

button:hover, .nuyen-amount, .edge-dice, .drain-formula, .dmg  {
    cursor: pointer;
}

/* Content-Styling */

.header {
    font-size: 3vh;
}

.name {
    font-weight: bold;
    display: flex;
}

.name-icon img {
    margin-top: 0.4vh;
    width: 3vh;
    height: auto;
}

.box {
    background-color: var(--primary-color);
    border-radius: 1vh;
    position: relative;
}

.box-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.pool {
    font-weight: bold;
    border: none;
    margin: 0;
    text-align: center;
    border-radius: 0.5vh;
}

.nuyen-amount, .edge-dice {
    text-align: center;
    font-weight: bold; 
}

.initiatives, .resistances {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.actions, .skills {
    display: flex;
    flex-direction: column;
}

.action, .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-name, .skill-name {
    text-align: left;
    width: 50%;
}

.action-numbers, .skill-numbers {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.body-dmg, .stun-dmg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dmg {
    appearance: none;
    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
    background-color: var(--secondary-color);
}

.dmg:checked {
    background-color: var(--accent-color);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1vh;
}

/* Grid */

.container {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(20, 1fr);
    height: 90vh;
    gap: 1vh;
}

.header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 21;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nuyen {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.initiative {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 10;
}

.edge {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.resistance {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 10;
    grid-column-end: 20;
}

.fav-skills {
    grid-row-start: 4;
    grid-row-end: 15;
    grid-column-start: 2;
    grid-column-end: 10;
}

.fav-actions {
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 10;
    grid-column-end: 20;
}

.body-condition {
    grid-row-start: 9;
    grid-row-end: 15;
    grid-column-start: 10;
    grid-column-end: 13;
}

.mental-condition {
    grid-row-start: 9;
    grid-row-end: 15;
    grid-column-start: 13;
    grid-column-end: 16;
}

.mugshot {
    grid-row-start: 9;
    grid-row-end: 15;
    grid-column-start: 16;
    grid-column-end: 20;
}