:root {
    --background-color: #010813;
    --primary-color: #0B192C;
    --secondary-color: #11253b;
    --accent-color: #FF6500;
    --font-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
}

html {
    scroll-behavior: smooth;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
}

.header {
    font-size: 3vh;
}

.name {
    font-weight: bold;
}

/* Grid */

.container {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(20, 1fr);
    height: 100vh;
    gap: 2px;
}

.header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 21;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nuyen {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.initiative {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 9;
}

.edge {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 9;
    grid-column-end: 10;
}

.resistance {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 10;
    grid-column-end: 20;
}

.fav-skills {
    grid-row-start: 4;
    grid-row-end: 15;
    grid-column-start: 2;
    grid-column-end: 10;
}

.fav-actions {
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 10;
    grid-column-end: 20;
}

.body-condition {
    grid-row-start: 9;
    grid-row-end: 15;
    grid-column-start: 10;
    grid-column-end: 13;
}

.mental-condition {
    grid-row-start: 9;
    grid-row-end: 15;
    grid-column-start: 13;
    grid-column-end: 16;
}

/* Box-Styling */

.box {
    background-color: var(--primary-color);
    border-radius: 1vh;
    position: relative;
}

.box-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 2vh;
}

.nuyen-amount {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    font-weight: bold; 
    font-size: 3vh;
}

.edge-dice {
    color :var(--font-color);
    text-align: center;
    padding-top: 0.2rem;
    font-weight: bold;
    font-size: 4vh;
    margin-top: 3.5vh;
}

.actions, .skills {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.skill, .action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 3vh;
    border-bottom: var(--secondary-color) 0.2vh solid;
}

.skill-name, .action-name {
    text-align: left;
    margin-left: 1vw;
    width: 50%;
}

.skill-numbers, .action-numbers {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.skill-value {
    font-size: 2.5vh;
}

.pool {
    font-weight: bold;
    margin-right: 1vw;
    border: none;
    margin: 0;
    font-size: 3vh;
    height: 4vh;
    width: 3vw;
    text-align: center;
    border-radius: 0.5vh;
}

.initiatives, .resistances {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.initiative-category, .resistance-category {
    padding-top: 1.5vh;
    padding-bottom: 0.3vh;
}

/* Klicki Bunti */

button:hover {
    cursor: pointer;
}

.nuyen-amount:hover, .edge-dice:hover {
    cursor: pointer;
}

.drain-formula:hover {
    cursor: pointer;
}

.body-dmg, .stun-dmg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.dmg {
    appearance: none;
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.dmg:checked {
    background-color: var(--accent-color);
}