:root {
  --background-color: #101010  ;
  --primary-color: #232323;
  --accent-color: #81ffc0;
  --font-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

html {
  scroll-behavior: smooth;
  color: var(--font-color);
  text-transform: uppercase;
}

body {
  background-color: var(--background-color);
}