:root {
  --background-color: #010813;
  --primary-color: #0B192C;
  --secondary-color: #11253b;
  --accent-color: #FF6500;
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

html {
  scroll-behavior: smooth;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}
