:root {
  --background-color: #070f07  ;
  --secondary-color: #0d200d  ;
  --primary-color: #183318  ;
  --accent-color: #f39b43  ;
  --font-color: #b6f5b6  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

html {
  scroll-behavior: smooth;
  color: var(--font-color);
  text-transform: uppercase;
}

body {
  background-color: var(--background-color);
}
