.favourite {
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 0.5vh;
    background-color: var(--background-color);
}

.favourite:checked {
    background-color: var(--accent-color);
}