@import './base.css';
@import './modal.css';
@import './button.css';
@import './checkboxes.css';
@import './boxes.css';
@import 'layout.css';
@import './fonts.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
}