/* Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 1vh;
    width: 30vw;
    height: 30vh;
    border: 0.1vh solid var(--font-color);
    z-index: 1001;
    padding-top: 1vh;
    position: relative;
}

.modal-content-summoning {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 1vh;
    width: 30vw;
    height: 60vh;
    border: 0.1vh solid var(--font-color);
    z-index: 1001;
    padding-top: 1vh;
    position: relative;
}

.dice-roll {
    display: flex;
    justify-content: space-evenly;
    line-height: 25vh;
    width: 100%;
    align-items: center;
}

.boost {
    font-size: 4vh;
    color: var(--accent-color);
    background-color: var(--background-color);
    border-radius: 1vh;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    text-align: center;
}

.boost:active {
    background-color: var(--font-color);
    color: var(--accent-color);
}

.dice-pool {
    font-size: 8vh;
    font-weight: bold;
}

.modify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--accent-color);
    font-size: 10vh;
}

.mod:active {
    color: var(--background-color);
}

.confirm {
    border: none;
    border-radius: 0 0 1vh 1vh;
    width: 100%;
    height: 5vh;
    font-size: 4vh;
    font-weight: bold;
    color: var(--background-color);
}

.confirm:active {
    background-color: var(--background-color);
    color: var(--font-color);
}

.spirit-type {
    color: blue;
}

.spirit-power {
    font-size: 4vh;
    font-weight: bold;
    color: var(--accent-color);
    border-radius: 1vh;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    text-align: center;
}